@import url('https://fonts.googleapis.com/css?family=Oswald');
head {
    color: #B2D4BC;
}
body {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: "Oswald";
    background-color: #97D5EE;
   
}

.background{
    background-image: url("img/background-again.png");
    background-repeat: no-repeat; /*dont  repeat image  */
    background-size: cover; /* Stretch out image and cover whole page*/
    background-position: 50% 20%; /*position image 50% from left -> right and 20% from bottom -> top*/
   width: 100vw;
   height: 100vh;
}
nav{
    background-color: #b2d4bcda;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 66px;
            
}

.logo{
    height: 66px;
    width: auto;
}

nav ul{
   display: flex;
   list-style: none;
   justify-content: space-between;
    width:inherit;
    padding-right: 3%;
    
}

nav li{
    height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 7px;
    padding-left: 80px;
    padding-right: 80px;
}  
nav li a {
    text-decoration: none;
    color:black;
   font-size: 21px;
    font-weight: bold;
    text-wrap: nowrap;

}  
/*This is "Om os"*/
.beer {
    position: relative;
    float:right;
    margin: 28px;
    
    
}

#about-us {
    font-size: 50px;
    padding-left: 90px;
    padding-top: 60px;
    padding-bottom: 50px;
}

p {
font-size: 32px;
    padding-left: 90px;
}

@media only screen and (max-width: 1000px)  {
    nav li a {
        text-decoration: none;
        color:black;
        font-size: 65%;
        font-weight: bold;
    }  
    nav li{
        height: 50px;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 7px;
        padding-left: 0%;
        padding-right: 0%;
    }  
}