@import url('https://fonts.googleapis.com/css?family=Oswald');

head {
    color: #B2D4BC;
}

body {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: "Oswald";
    background-color: #97D5EE;

}

.background {
    background-image: url("img/background-picture-again-again.png");
    background-repeat: no-repeat;
    /*dont  repeat image  */
    background-size: cover;
    /* Stretch out image and cover whole page*/
    background-position: 50% 20%;
    /*position image 50% from left -> right and 20% from bottom -> top*/
    width: 100vw;
    height: 100vh;
}

/*Det her er min nav*/
nav {
    background-color: #b2d4bcda;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 66px;

}

.logo {
    height: 66px;
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: inherit;
    padding-right: 3%;

}

nav li {
    height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 7px;
    padding-left: 80px;
    padding-right: 80px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 26px;
    font-weight: bold;
    text-wrap: nowrap;

}

/*Det her er "Om os"*/
.beer {
    position: relative;
    float: right;
    margin: 28px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
}

.about-us {
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 55px;
    padding-left: 20rem;
    padding-top: 60px;
    padding-bottom: 50px;
}

.about-us-text {
    text-align: left;
    font-size: 34px;
}


/*Det her er "din idé"*/
header {
    font-size: 50px;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

p {
    text-align: center;
    font-size: 34px;
    padding-bottom: 30px;
}

.idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#navn {
    padding-left: 10rem;
    min-height: 80px;
    display: flex;

}

.your-name {
    font-size: 30px;
}

#email {
    padding-left: 10rem;
    min-height: 80px;
    align-self: flex-end;
}

.enter-email {
    font-size: 30px;
}

#ide {
    padding-left: 10rem;
    min-height: 15rem;
    width: auto;
}

.din-ide {
    font-size: 30px;
}

#submit-button {
    padding-left: 10rem;
    min-height: 30px;

}

/*Det her er livsnydere*/
.livsnydere {
    color: yellow;
    font-size: 55px;
    text-align: center;
    /*padding-left: 80px;*/
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

p {
    text-align: center;
    font-size: 32px;
    padding-left: 40px;
    padding-right: 40px;
}

.column {
    float: left;
    width: 23%;
    padding: 5px;
    margin: 5rem;
}

.row {
    margin-top: 5rem;
    text-align: center;
    margin-left: 5rem;
    padding-left: 30px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Det her er "vores produkter"*/

.grid-container {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: repeat(4, 1fr);

    gap: 10px;

    padding: 20px;

}

/*sørger for at tekst ligger under titel og til venstre*/
.grid-item-text {

    flex-direction: column;

    align-items: start;

}

/*sections */
.grid-item {

    display: flex;

    justify-content: center;

    height: auto;

}



.grid-item-1 {

    grid-column-start: 1;

    grid-column-end: 1;

    grid-row-start: 1;

    grid-row-end: 4;

}



.grid-item-2 {

    grid-column-start: 2;

    grid-column-end: 4;

    grid-row-start: 1;

    grid-row-end: 1;

}



.grid-item-3 {

    grid-column-start: 2;

    grid-column-end: 2;

    grid-row-start: 2;

    grid-row-end: 2;

}



.grid-item-4 {

    grid-column-start: 3;

    grid-column-end: 3;

    grid-row-start: 2;

    grid-row-end: 5;

}

.original-bottle {
    float: left;
    padding-left: 50px;
}

.original-bottle-right {
    float: right;
    padding-right: 50px;
}

.classic {
    color: yellow;
    font-size: 55px;
    padding-left: 40px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}

.original {
    font-size: 34px;
    float: left;
    width: 33vw;
}

/* Media Query for 1800px breakpoint */

@media (max-width: 1800px) {

    .grid-container {

        grid-template-columns: 1fr;
        /* Single column layout */

        grid-template-rows: min-content;
        /* Rows vil automatisk justere højde */

    }



    /* Ændre rækkefølge og span*/

    .grid-item-2 {

        grid-column-start: 1;

        grid-column-end: 1;

        grid-row-start: 1;

        grid-row-end: 1;

    }



    .grid-item-1 {

        grid-column-start: 1;

        grid-column-end: 1;

        grid-row-start: 2;

        grid-row-end: 2;

    }



    .grid-item-3 {

        grid-column-start: 1;

        grid-column-end: 1;

        grid-row-start: 3;

        grid-row-end: 3;

    }



    .grid-item-4 {

        grid-column-start: 1;

        grid-column-end: 1;

        grid-row-start: 4;

        grid-row-end: 4;

    }
}

/*this is my footer*/

footer {
    width: 100vw;
    background-color: #B2D4BC;
}

footer ul {
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    width: 50%;
    justify-items: center;
    margin: auto;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(129, 61%, 16%, 0.41)
}

;

/*Media query*/
@media only screen and (max-width: 1000px) {
    nav li a {
        text-decoration: none;
        color: black;
        font-size: 65%;
        font-weight: bold;
    }

    nav li {
        height: 50px;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 7px;
        padding-left: 0%;
        padding-right: 0%;
    }
}